spring:
  application:
    name: user-service

  datasource:
    url: jdbc:h2:mem:userdb:DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: }-,HM;qpemR7J,8nPyIU&6:/Wz^1zO,bg>fn(1rJLGg

server:
  port: 8004